<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/partials :: head('Edit Post')">
</head>
<body>
<nav th:replace="fragments/partials :: navbar"></nav>
<form th:action="@{/posts/{id}/edit (id = ${post.id})}" th:method="post" th:object="${post}">
    <label for="title">Edit Title</label>
    <div>
        <input type="text" id="title" name="title" placeholder="Enter Title" th:field="*{title}">
    </div>
    <label for="body">Edit Body</label>
    <div>
        <input type="text" id="body" name="body" placeholder="Enter Body" th:field="*{body}">
    </div>
    <div>
        <button th:value="${post.id}" type="submit">Edit Post</button>
    </div>
</form>
</body>
</html>